
header {
  max-height:330px;
  width: 100%;
  background-color:#000;
  overflow: hidden;
  text-align: center;
}

.header-left {
  padding-top: 10px;
  width: 100%;
  display: flex;
}

.title_img {
  width: 100%;
}

.header-left .title_img img {
  margin: 0 5px;
}

.header-right {
  display: flex;
  padding-top: 10px;  
	width: 100%;
}

.header-container {
  padding: 0 5px;
  margin: 0 10px;
}

/* SNSアイコン ここから */
.follow-me {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.follow-me ul {
  text-align: center;
	width: 600px; /* SNSアイコンを表示する領域（アカウント登録も含む） */
}

.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}

.follow-me li a::before { /* アイコン１個ずつの設定 */
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}

.follow-me li a[href*="facebook.com"]::before {
  border-color: #3b5998;
  background-color: #3b5998;
  content: "\f09a";
}
.follow-me li a[href*="twitter.com"]::before {
  border-color: #55acee;
  background-color: #55acee;
  content: "\f099";
}
.follow-me li a[href*="instagram.com"]::before {
  border-color: #CF2E92;
  background-color: #CF2E92;
  content: "\f16d";
}
.follow-me li a[href*="youtube.com"]::before {
  border-color: #cd201f;
  background-color: #cd201f;
  content: "\f16a";
}

.follow-me li a:hover::before {
  background-color: #fff;
}
.follow-me li a[href*="facebook.com"]:hover::before {
  color: #3b5998;
}
.follow-me li a[href*="twitter.com"]:hover::before {
  color: #55acee;
}
.follow-me li a[href*="instagram.com"]:hover::before {
  color: #CF2E92;
}
.follow-me li a[href*="youtube.com"]:hover::before {
  color: #cd201f;
}
/* SNSアイコン ここまで */

.fan_register {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.fan_register ul {
	width: 300px; /* SNSアイコンを表示する領域（アカウント登録も含む） */
}

.fan_register li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}

.login {
  background-color: #000084;
  color: #fff;
  margin-right: 5px;
}

.login:hover {
  background-color: #fff;
  color: #000084;
}

.new {
  background-color: #eaa000;
  color: #fff;
}

.new:hover {
  background-color: #fff;
  color: #eaa000;
}

.btn-header {
  width: 130px;
  padding: 10px 4px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

/* --- スマホ用 css ----------------- */
@media screen and (max-width:768px) {
	.title_img {
		display: inline-block;
	}
	.title_img img {
		width: 250px;
	}
}
@media screen and (max-width:560px) {
  .header-right {
    display: block;
  }  
}
@media screen and (max-width:480px) {
	header{
		max-height: 430px;
	}
	.header-left {
		width: 100%;
	}
	.header-right {
		width: 100%;
	}
	.cp_navi a{
		font-size: smaller;
	}
}
